<%- include('page_header') %>
    <div class="container">
        <div class="h4">Cart Shopping</div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th width="190px"></th>
                    <th width="100px">Picture</th>
                    <th width="100px">Barcode</th>
                    <th>Product</th>
                    <th width="100px" class="text-right">Price</th>
                    <th width="100px" class="text-right">Quantity</th>
                    <th width="100px" class="text-right">Total</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach((product)=> { %>
                    <tr>
                        <td class="text-center">
                            <a class="btn btn-info" href="#editItemInCart/#%= product.id %>">Edit</a>
                            <a class="btn btn-danger" href="/deleteItemInCart/<%= product.id %>"
                                onclick="return confirm('Are you sure to delete?')">Remove</a>
                        </td>
                        <td><img src="images/<%= product.img %>" width="100px" /></td>
                        <td>
                            <%= product.barcode %>
                        </td>
                        <td>
                            <%= product.name %>
                        </td>
                        <td class="text-right">
                            <%= product.price %>
                        </td>
                        <td class="text-right">
                            <%= product.qty %>
                        </td>
                        <td class="text-right">
                            <%= product.qty * product.price %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>

        <div class="text-center">
            Total Qty is Baht
        </div>

        <div class="text-center mt-3">
            <a href="/confirmOrder" class="btn btn-info btn-lg">
                confirmOrder
                <span class="material-symbols-outlined material-icons">
                    navigate_next
                </span>
            </a>
        </div>

    </div>
    <%- include('page_footer') %>