<%- include('header') %>

    <%- include('navbar') %>

        <main class="card m-4 mt-10 bg-white shadow" style="height: 100%;">
            <div class="card-body">
                <div class="card-title fs-3">Reserve Book History</div>
                <div>
                    <a class="btn btn-danger" href="/deleteReserveHistory"
                        onclick="return confirm('Are you sure to delete ?')">CLEAR RESERVE
                        HISTORY</a>
                </div>
                <h2 class="special-elite-regular mt-2 text-dark text-center">- RESERVE HISTORY -</h2>
                <table class="table">
                    <thead class="text-dark">
                        <tr>
                            <th width="90px" scope="col"></th>
                            <th scope="col" style="width: 150px;">Book</th>
                            <th width="300px" scope="col">Book name</th>
                            <th width="200px" scope="col">Status</th>
                            <th width="300px" scope="col">Reserve By</th>
                            <th width="300px" scope="col">Reserve Date</th>
                            <th width="300px" scope="col">PickUp Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(reserveHistory !==undefined){ %>
                            <% reserveHistory.forEach((reserve)=> { %>
                                <tr>
                                    <td>
                                        <a class="btn btn-danger" href="/deleteReserveHistory/<%= reserve.id%>"
                                            onclick="return confirm('Are you sure to delete ?')">Delete</a>
                                    </td>
                                    <td scope="row"><img class="rounded shadow-sm border border-2 border-white"
                                            src="./images/books/<%= reserve.img %>" width="200px"></td>
                                    <td>
                                        <h4>
                                            <%= reserve.book_name %>
                                        </h4>
                                        <p>
                                            <%= reserve.detail %>
                                        </p>
                                    </td>
                                    <td>
                                        <%= reserve.status %>
                                    </td>
                                    <td>
                                        <p>
                                            ID: <%= reserve.tb_user_account_id %> & Username: <%= reserve.usr %>
                                        </p>
                                        <p>
                                            Phone: <%= reserve.phone %>
                                        </p>
                                    </td>
                                    <td>
                                        <%= reserve.reserve_date %>
                                    </td>

                                    <td>
                                        <%= reserve.pickup_date %>
                                    </td>
                                </tr>
                                <% }); %>
                                    <% } %>
                    </tbody>
                </table>
            </div>
        </main>

        <%- include('footer') %>